

<div class="flexbox">
  <div>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div>

    <h1><%= @cocktail.name %></h1>

    <%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail), class: "btn btn-orange" %>

    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li>
        <p>
          <%= dose.ingredient.name %>:
          <%= dose.description %>
          <%= link_to "Delete", dose_path(dose), method: :delete %>
        </p>
      </li>
      <% end %>
    </ul>


    <%= link_to 'Go back', "/", class: "btn btn-treehouse" %>
  </div>
</div>

